h1 {
  color: white;
  background-color: black;
}

.game {
  display: flex;
  flex-direction: row;
}

.player1-board, .player2-board {
  display: grid;
  width: 350px;
  height: 350px;
  grid-template-columns: repeat(10, 1fr);
  margin: 1rem;
}

.grid-item {
  display: flex;
  border: 1px solid black;
  height: 35px;
  width: 35px;
  justify-content: center;
}

.ship {
  background-color: rgb(49, 46, 46);
}

.hit {
  background-color: rgb(245, 112, 112);
}

.miss {
  background-color: rgb(142, 252, 142);
}